<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../arquivo-01/style-layout-01.css">
    <title>index 01</title>
</head>


<body>
   <header>
    <span>Cabeçalho (header)</span>
   </header> 

   <nav>
    <span>Menu de navegação (nav)</span>
   </nav>

   <aside>
    <span>
        Lateral (aside)
    </span>
   </aside>

   <section>
    <span>
        Seção (section)
    </span>
   </section>

   <footer>
    <span>
        Rodapé (footer)
    </span>
   </footer>
   
</body>
</html>