*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;

}
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    opacity: 0.7;
}
.logo {

    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;

}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #23232e;
    height: 8vh;/* vh é umma unidade responsiva que se adapta a altura da janela do usuario 100vh cobre a janela inteira*/
}
main {
    background: url("../arquivo-01/IMAGE-01.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
}
.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.menu-hambuguer{
    cursor: pointer;
}

.menu-hambuguer div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;

}
